// this is a (highly educated and researched) guess
$navbar-height: 50px;

// override default bootstrap style
.navbar {
  margin-bottom: 0;
}

.nnb-app {
  display: flex;
}

.nnb-map-container {
  width: 70%;
  // alternative would be to use flexbox with nav and app inside it
  height: calc(100vh - #{$navbar-height});
}

.info-panel-container {
  width: 30%;
  height: calc(100vh - #{$navbar-height});
  border: 1px solid #ddd;
  padding: 1rem;
}

.poi-form-container {

}