@import url('https://fonts.googleapis.com/css?family=Lato');

$main-font: 'Lato', sans-serif;
$navbar-height: 50px;
$timeline-height: 10%;

.app {
  font-family: $main-font;
}

// override default bootstrap style
.navbar {
  margin-bottom: 0;
}

.nnb-app {
  display: flex;
}

.nnb-map-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  // alternative would be to use flexbox with nav and app inside it
  height: calc(100vh - #{$navbar-height});
}

.timeline-container {
  display: flex;
  position: relative;
  height: $timeline-height;
}

.info-panel-container {
  width: 30%;
  height: calc(100vh - #{$navbar-height});
  border: 1px solid #ddd;
  padding: 1rem;
}

.poi-form-container {
  width: 70%;
}

.sidebar-menu{
  display: inline;
  cursor: pointer;
}
