
$navbar-height: 50px;

// override default bootstrap style
.navbar {
  margin-bottom: 0;
}

.nnb-app {
  display: flex;
}

.nnb-map-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  // alternative would be to use flexbox with nav and app inside it
  height: calc(100vh - #{$navbar-height});
  // height: 60%
}

.timeline-container {
  display: flex;
  position: relative;
  height: 7%
}

.info-panel-container {
  width: 30%;
  height: calc(100vh - #{$navbar-height});
  border: 1px solid #ddd;
  padding: 1rem;
}

.poi-form-container {

}

.sidebar-menu{
  display: inline;
  cursor: pointer;
}
