@import "variables.scss";
@import "button.scss";

.info-panel {
  border-left: 1px solid #ddd;
  padding: 3rem;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &__name {
    margin-right: auto;
  }
}

.carousel-control {
  position: absolute;
  top: 0%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-right{
  top: 40%

}

.carousel-control .glyphicon-chevron-left{
  top: 40%

}

.carousel-item {
  position: relative;
  &__delete-icon {
    position: absolute;
    right: 0;
    z-index: 2;
    background: #fafafacc;
    color: #888;
    margin: 1rem;
    box-shadow: 0 0 5px #ddd;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #fafafaff;
    }
  }
}

.carousel-indicators li{
  position: relative;
  left: auto;
  right: auto;
  background-color: white;
  border-color: black;
}

.carousel-indicators .active{
  position: relative;
  left: auto;
  right: auto;
  background-color: black;
  border-color: black;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
  margin-top: 10px;
}

.carousel-inner {
  // padding-bottom: 20px;
}

.caption {
  &__text {
    text-align: center;
    color: black;
    font-style: italic;
  }
}

.description {
  &__text {
    white-space: pre-wrap;
    margin: 0;
  }
}

.additional-links {
  &__ul {
    list-style: none;
    margin: 0;
    padding: 1rem 1rem 0;
  }

  &__li {
    padding-bottom: 0.5rem;

    &:before {
      content: "\0BB \020";
      padding-right: 0.5rem;
    }
  }
}

.walkthrough-container {
  margin-top: auto;
}

.walkthrough {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__page-counter {
    color: #333;
  }
}
