@import "variables.scss";

$marker-diameter: 20px;

.image-fill {
  height: calc(100vh - #{$navbar-height} - #{$timeline-height});
  object-fit: cover;
}

.map-image {
  opacity: 0.85;
}

.marker {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  width: $marker-diameter;
  height: $marker-diameter;
  background: blue;

  &--selected {
    background: red;
  }
}
