.form-header {
  margin: 2rem;
}

.poi-form {
  margin: 4rem;

  &__field-group {
    &.specifier {
      margin-bottom: 2rem;
    }
  }

  &__label {
    margin-bottom: 1rem;
    font-size: 1.25em;
    font-style: italic;
  }
}



.table-container {
  padding: 0;
}

.end-buttons {
  display: flex;
  justify-content: flex-end;
}

.end-button {
  margin-left: 1rem;
}
