.form-header {
  margin: 2rem;
}

.poi-form {
  margin: 4rem;
}

.links-label {
  padding: 0 2.5rem 0 0;
}

.table-container {
  padding: 0;
}

.end-buttons {
  display: flex;
  justify-content: flex-end;
}

.end-button {
  margin-left: 1rem;
}

.jank-spacer {
  height: 100px;
  margin: 2.25rem
}
