@import "variables.scss";

.sidebar {
  width: 256px;
  background-color: $navbar-color;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
  }

  &__title {
    margin: 0;
  }

  &__exit {
    color: #FFF;
    margin-left: auto;
  }

  &__exit-story {
    align-self: flex-end;
  }
}

.story-item {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;

  &__name {
    margin-right: auto;
    cursor: pointer;
  }

  &__icon {
    padding: 0 0.5rem;
  }

  &--selected {
    background: #666;
  }

  &:hover {
    background: #888;
  }
}

.story-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1rem;

  &__heading {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__input {
    padding-bottom: 2rem;
  }

  &__exit {
    margin-left: auto;
  }

  &__poi-list-container{
    display: flex;
  }

  &__poi-list{
    padding: 1rem;
    width: 40%;
    max-height: 500px;
    // overflow: auto;
  }

  &__search-title{
    margin-bottom: 1rem;
  }

  &__search-bar{
    padding: 1rem;
  }

  &__submit-button{
    margin-top: auto;
  }

  &__added-pois{
    padding: 1px;
    position: relative;


    &__delete-icon{
      margin-left: 4rem;
      position: absolute;
      left: 100%;
      top: 0;

      &:hover {
        background: #f0f0f0ff;
      }
    }
  }
}

.divider {
  height: 1px;
  background-color: #888;
}

.footer {
  margin-top: auto;
  align-self: center;
  padding: 1rem;
  color: #888;

  &::after {
    content: "Made with ♥ by Hack4Impact UIUC"
  }
}
