@import "variables.scss";

.sidebar {
  width: 256px;
  background-color: $navbar-color;
  color: #fafafa;

  &__header {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
  }

  &__title {
    margin: 0;
  }

  &__exit {
    color: #FFF;
    margin-left: auto;
  }
}

.story-item {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;

  &__name {
    margin-right: auto;
    cursor: pointer;
  }

  &__icon {
    padding: 0 0.5rem;
  }

  &--selected {
    background: #666;
  }

  &:hover {
    background: #888;
  }
}

.divider {
  height: 1px;
  background-color: #888;
}

