.sidebar {
  width: 256px;
  height: 100%;
  background-color: #404B50;
}

.sidebar-title {
  display: inline;
  color: #FFF;	
}

.sidebar-link {
  display: block;
  padding: 16px 0px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  &--selected{
    color: #000;
  }
}

.divider {
  margin: 8px 0;
  height: 1px;
  background-color: #FFF;
}

.exit {
  float: right;
  color: #FFF;
  padding-right: 0.5cm;
  padding-top: 0.20cm;
  cursor: pointer;
}

.story-panel-button {
  color: white;
}

	
