$marker-diameter: 20px;

.timeline {
  display: flex;
  padding: 0 2rem;
  border-top: 1px solid #ddd;
  box-shadow: -5px 0px 10px 2px #ddd;
}

.interval {
  position: relative;

  &--selected {
    background-color: #eee;
  }

  &:hover {
    background-color: #ddd;
  }
}

.line {
  border-top: 2px solid #bbb;
  position: relative;
  top: 50%;
}

.year {
  font-size: 0.8em;
  color: #777;
  position: absolute;
  top: 15%;
  left: -12px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fd9379;
  position: relative;
  top: 42%;
  left: -5px;
}

